body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0a0a;
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px;
  background: linear-gradient(90deg, red, black);
}

/* MENU */
nav {
  display: flex;
  justify-content: center;
  background: #111;
}

nav a {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  background: red;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero button {
  padding: 15px 30px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.hero button:hover {
  background: darkred;
}

/* SERVICES */
#services {
  text-align: center;
  padding: 50px 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #1a1a1a;
}

/* CONTACT */
#contact {
  text-align: center;
  padding: 50px;
}

.whatsapp {
  padding: 15px 30px;
  background: #25D366;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
}